---
import Productcard from "../components/Productcard.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/style.css";

const url = "https://bwzhyxrwqgaljabpwzkv.supabase.co/rest/v1/Purely_produkterne";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3emh5eHJ3cWdhbGphYnB3emt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODU1MzksImV4cCI6MTk5NDM2MTUzOX0.zKU7b6CyWwRwF95benSn0okCyoH-QtV96NdDXIKqslM",
  },
};
const response = await fetch(url, options);
const data = await response.json();

//
// curl 'https://bwzhyxrwqgaljabpwzkv.supabase.co/rest/v1/Purely_produkterne?select=id' \
// -H "apikey: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3emh5eHJ3cWdhbGphYnB3emt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODU1MzksImV4cCI6MTk5NDM2MTUzOX0.zKU7b6CyWwRwF95benSn0okCyoH-QtV96NdDXIKqslM" \
// -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3emh5eHJ3cWdhbGphYnB3emt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODU1MzksImV4cCI6MTk5NDM2MTUzOX0.zKU7b6CyWwRwF95benSn0okCyoH-QtV96NdDXIKqslM"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Shop</title>
  </head>
  <body>
    <header>
      <Header />
      <Hero img="../images/hero/pige_med_vaadt_haar.webp" tekst="Baseret på de mildeste vaskeaktive stoffer af højeste kvalitet, der skåner hår og hovedbund." navn="Shop Shampoo " />
    </header>
    <main>
      <section id="type">
        <h2 class="h2-produkt">Vælg din hårtype</h2>
        <div id="flex">
          <div>
            <img src="../images/Emilie_123437-e1662119971912.webp" alt="" />
            <p>Krøller i fint hår</p>
            <br />
          </div>
          <div>
            <img src="../images/210319_PurelyProfessional-2101847-e1662119504658.webp" alt="" />
            <p>Fint hår</p>
            <br />
          </div>
          <div>
            <img src="../images/Texturepaste_123320-e1662120018541.webp" alt="" />
            <p>Kraftigt hår</p>
            <br />
          </div>
          <div>
            <img src="../images/kraftigt-haar.webp" alt="" />
            <p>Krøller i kraftigt hår</p>
            <br />
          </div>
          <div>
            <img src="../images/210319_PurelyProfessional101374-e1662120101448.webp" alt="" />
            <p>Hovedbunds-<br />problemer & skæl</p>
          </div>
          <div>
            <img src="../images/Signe_123789-e1662120053667.webp" alt="" />
            <p>Farvet & kemisk behandlet hår</p>
          </div>
        </div>
      </section>

      <div class="center">
        <section id="cards">
          {
            data.map((produkt) => (
              <Productcard
                id={produkt.id}
                produktnavn={produkt.produkt_navn}
                link={"/produkter/" + produkt.id}
                img1={`../images/shampoo/${produkt.billede_1}`}
                img2={`../images/shampoo/${produkt.billede_2}`}
                img3={`../images/shampoo/${produkt.billede_3}`}
                img4={`../images/shampoo/${produkt.billede_4}`}
                beskrivelse={produkt.produkt_beskrivelse}
                brug={produkt.brug}
                pris={produkt.pris}
                indhold={produkt.indhold}
                størrelse={produkt.produkt_size}
              />
            ))
          }
          <!-- <Productcard />
        <Productcard />
        <Productcard />
        <Productcard />
        <Productcard />
        <Productcard /> -->
        </section>
      </div>
    </main>
    <Footer />
  </body>

  <style>
    /* Mobile first */
    body {
      background-color: var(--lightSand);
    }

    #type {
      background-color: var(--darkOcean);
      padding-top: 5px;
      width: 100vw;
    }

    .h2-produkt {
      color: var(--purelyWhite);
      text-align: center;
      margin-top: 30px;
      font-weight: 300;
    }

    #flex {
      display: flex;
      overflow: scroll;
      align-items: center;
      justify-content: space-between;
    }
    #flex div {
      width: 120px;
      margin-left: 15px;
      margin-right: 15px;
    }

    #type img {
      width: 120px;
      height: 120px;
      border-radius: 100px;
      margin-top: 25px;
    }

    #type p {
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      line-height: 18px;
      padding-bottom: 20px;
      color: var(--purelyWhite);
    }

    /* cards */

    #cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      justify-items: center;
      margin-top: 26px;
      margin-bottom: 30px;
      row-gap: 26px;
    }

    /* tablet format (over 600px)*/
    @media (min-width: 600px) {
    }

    /* desktop format (over 900px)*/
    @media (min-width: 900px) {
      #cards {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        row-gap: 38px;
        margin-top: 38px;
      }

      #flex div {
        width: 200px;
      }
      #type img {
        width: 200px;
        height: 200px;
      }

      #type p {
        font-size: 20px;
        line-height: 24px;
      }
    }

    @media (min-width: 1200px) {
      #cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 45px;
        margin-top: 45px;
      }
    }

    @media (min-width: 1500px) {
      .center {
        display: flex;
        justify-content: center;
      }
      #cards {
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        max-width: 1500px;
      }
      #flex {
        max-width: 1500px;
      }

      #type {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  </style>
</html>
