---
import "../styles/style.css";
import "../styles/tpp.css";
const { id, illustration, title1, title2, title3, title4, text, p1, p2, p3, p4, img1, img2, img3, img4 } = Astro.props;
---

<div id="tpp-card">
  <div class="svg-container">
    <img src={illustration} alt="" class="illu" />
  </div>
  <h3 class="overskrift">{title1}</h3>
  <p class="paragraf">
    {text}
  </p>
  <div class="link" id="link-knap">
    <div class="link-tekst">
      <p id="read-more">Læs mere</p><p id="luk" class="hide">luk</p>
      <img src="../svgfiles/pil.svg" alt="" class="pil" id="blaa-pil" />
    </div>
    <hr class="underline" />
  </div>
</div>
<div class="hide" id="open-menu">
  <div class="flex-indhold">
    <!-- Sæt indhold in her  -->
    <img src={img1} alt="" class="img1" />
    <p class="tekst">{p1}</p>
    <div class="billede-med-streg right">
      <img src={img2} alt="" class="img2" />
      <div class="streg"></div>
    </div>
    <div class="tekst-felt">
      <h2>{title2}</h2>
      <p class="tekst">{p2}</p>
    </div>
    <div class="billede-med-streg left">
      <img src={img3} alt="" class="img2" />
      <div class="streg"></div>
    </div>

    <div class="tekst-felt" id="p3-test">
      <h2>{title3}</h2>
      <div set:html={p3} />
    </div>

    <img src={img4} alt="" class="img4" />
    <div class="tekst-felt">
      <h2>{title4}</h2>
      <p class="tekst">{p4}</p>
    </div>
    <div class="link" id="link-knap-luk">
      <div class="link-tekst">
        <p>luk</p>
        <img src="../svgfiles/pil.svg" alt="" class="pil" id="pil-op" />
      </div>
      <hr class="underline" />
    </div>
  </div>
</div>

<style>
  #tpp-card {
    background-color: var(--purelyWhite);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 360px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    position: relative;
    height: 414px;
    margin-bottom: 26px;
  }

  .svg-container {
    width: 126px;
    height: 112px;
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .illu {
    height: 100%;
  }
  .paragraf,
  .overskrift {
    text-align: center;
    align-self: center;
  }
  .paragraf {
    width: 330px;
    height: 100px;
  }
  /* -- link med pil -- */
  .link {
    align-self: flex-end;
    margin-right: 15px;
  }

  .link-tekst {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2px;
  }
  .link-tekst p {
    color: var(--purelyBlue);
  }
  .pil {
    width: 16px;
  }

  .underline {
    border: 1.5px solid var(--purelyBlue);
    width: 100%;
    border-radius: 1.5px;
    margin-bottom: 25px;
  }

  /* ------------------ */

  /* sektionen når kortet er åbent */

  #open-menu {
    /* position: absolute; */
    background-color: var(--lightSand);
    width: 360px;
    border-radius: 0 0 5px 5px;
    /* height: 200px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -31px;
    margin-bottom: 26px;
    z-index: -1;
  }

  .flex-indhold {
    display: flex;
    flex-direction: column;
    gap: 65px;
  }

  .rotate {
    transform: rotate(180deg);
  }

  /* indhold i åben menu */

  .img1 {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }

  .tekst,
  h2 {
    margin: 0 15px;
  }

  .billede-med-streg {
    position: relative;
    height: 370px;
  }

  .right {
    align-self: flex-end;
  }
  .img2 {
    width: 280px;
    height: 360px;
  }
  .streg {
    border: solid white 1px;
    width: 280px;
    height: 360px;
    position: absolute;
    top: 10px;
  }

  .right .streg {
    left: -10px;
  }

  .left .streg {
    left: 10px;
  }

  .tekst-felt {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .pil-right {
    transform: rotate(-90deg);
  }

  .img4 {
    width: 330px;
    height: 360px;
    object-fit: cover;
    align-self: center;
  }

  #pil-op {
    transform: rotate(180deg);
  }

  .hide {
    display: none;
  }
</style>

<script>
  // her skal der være script, så menuerne kan åbne
  const readMoreButton = document.getElementById("link-knap");
  const openMenu = document.getElementById("open-menu");
  const blaaPil = document.getElementById("blaa-pil");
  const lukTekst = document.getElementById("luk");
  const readMore = document.getElementById("read-more");
  const lukKnap = document.getElementById("link-knap-luk");

  readMoreButton.addEventListener("click", () => {
    if (openMenu.classList.contains("hide")) {
      openMenu.classList.remove("hide");
      blaaPil.classList.add("rotate");
      lukTekst.classList.remove("hide");
      readMore.classList.add("hide");
    } else {
      openMenu.classList.add("hide");
      blaaPil.classList.remove("rotate");
      lukTekst.classList.add("hide");
      readMore.classList.remove("hide");
    }
  });

  // lukKnap.addEventListener("click", () => {
  //   if (!openMenu.classList.contains("hide")) {
  //     openMenu.classList.add("hide");
  //     blaaPil.classList.remove("rotate");
  //     lukTekst.classList.add("hide");
  //     readMore.classList.remove("hide");
  //   }
  // });

  // document.getElementById("p3-test").innerHTML = ;
</script>
